@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Caveat+Brush&family=Corinthia:wght@700&family=Dancing+Script&family=Edu+TAS+Beginner&family=Fira+Sans:wght@300&family=Fuggles&family=Fuzzy+Bubbles&family=Indie+Flower&family=Josefin+Sans:ital,wght@1,100&family=Meow+Script&family=Montserrat:wght@200&family=Oswald:wght@200&family=Pacifico&family=Smooch&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: large;
    background-image: linear-gradient(45deg, darkblue, white);
}


.main-container {
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15% 5% 75% 5%;
}

.main-container > * {
    border: 1px solid;
}

header, section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
text-align: center;
font-family: 'Edu TAS Beginner', cursive ;
font-size: 7vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh;
}

.home-main {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img {
    height: 97%;
    width: 95%;
    margin-top: 10px;
}

iframe {
    margin-top: 10px;
}

.sub-container3 {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.sub-container3 > div {
    flex-basis: 50%;
}


form {
    height: 50%;
    width: 90%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-columns: 4;
    gap: 3px;
    
}
    


form > div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 80%;
    border-radius: 30px;
}


 /* ....................... games page   ............................. */


.page-container {
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15% 5% 75% 5%;
}


.page-container > * {
    border: 1px solid;
}


main > img {
    margin-top: 100px;
    height: 400px;
    width: 250px;
}
